@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	color: #dd4f24;
}
body {
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin: 0px;
}

footer {
	background: #434343;
	border-radius: 5px 5px 0 0;
	color: #a7a7a7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
footer p{
	margin: 0;
}
header {
	background: #434343; 
	color: white;
	margin: 0 ;
	padding: 0.5em;
	position: relative;
}
header figure, header h1 {
	display: inline-block;
	vertical-align: top; 

}
header h1 {
	display: block;
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	text-align: center;
}
header #avatar {
	float: right;
	margin: 1em 1em 0 0;
	position: absolute;
	top:0;
	right:0;
}
header #avatar:hover {
	cursor: pointer;
}
header #avatar figcaption {
	background: #22bce0;
	float: right;
	height: 50px;
	line-height: 50px;
}
header #avatar figcaption:after{
	color: white;
	content: "\e600";
	font-family: "icomoon";
	font-size: 0.7em;
	opacity: 0.5;
}
header #avatar img{
	float: left;
	width: 50px;
}
header #logo {
	float: left;
}
header #logo img {
	width: 80px;
	border-radius: 100px;
}
nav{
	background: #878787;
	border-radius: 0 0 4px 4px;
	font-size: 0.9em;
	position: relative;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
nav ul li a {
	color: #fff;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}
nav #flechita_nav a {
	background: #22bce0;
	border-radius: 0 2px 2px 4px;
	padding: 0.5em 0;
	text-decoration: none;

}
nav #flechita_nav a:after{
	content: "\e602";
	font-family: "icomoon";
	opacity: 0.5;

}
nav #publicar_nav {
	background: #dd4f24;
	border-radius: 0 0 4px 0;
	float: right;
	margin-right: 0;
	padding-right: 1.5em;
	position: relative;
}
nav #publicar_nav:after {
	color: rgba(255,255,255,0.5);
	content: "\e603";
	font-family: "icomoon";
	font-size: 1.8em;
	position: absolute; 
	right:0;
	top: 0; 
}
nav #publicar_nav a {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
}

#bienvenida {
	display: none;
}
#contenido {
	margin: 1em;
}
#contenido .item {
	background: white;
	border-bottom: 3px #22bce0 solid;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;	
}

#contenido .item p {
	color: #7a7a7a;
	font-size:  0.9em;
}
#contenido .item .datos_item {
	text-align: right;
}
#contenido .item .datos_item .tag_item{
	background: #22bce0;
	border-radius: 0.5em;
	color: white;
	float: left;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
#contenido .item .datos_item .comentarios_item{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	position: relative;
	text-decoration: none;
}
#contenido .item .datos_item .comentarios_item:after{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left: 10px;
	position: absolute;
	top: 94%;
	
}

#contenido .item .datos_item .guardar_item{
	text-decoration: none;
	margin: 0 1em 0 1em;
}

#contenido .item .datos_item .guardar_item:after{
	color: #fd5;
	content: "\e604";
	font-family: "icomoon";
}
#contenido .item .imagen_item {
	float: left;
	margin: 0 1rem 0 0;
}
#contenido .item .imagen_item img {
	width: 96px;

}
#contenido .item .titulo_item {
	font-size: 1em;
	font-style: italic;
	padding: 0.5em 0.5em 0;
}
#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion {
	background: #fff;
	border-radius: 0 0 0.5em 0.5em;
	margin:3px 0 0 0;
	padding: 0.5em 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 96px;
}
#contenido .item .votacion a {
	text-decoration: none;
}

#contenido .item .votacion .down:after,
#contenido .item .votacion .up:after{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;

}
#contenido .item .votacion .down:after{
	color: red;
	content: "\e600";
}

#contenido .item .votacion .up:after{
	color: green;
	content: "\e601";
}